#CSE110 marks & grade calculation 

def result(name,mid,quiz,lab,attendence,final):
    finals=mid+(quiz/3)+lab+attendence+final
    return finals
a=input("Name: ")
b=float(input("mid:" ))
l=float(input("lab:" ))
att=float(input("attendence:" ))
fin=float(input("final:" ))
sum=0
l1=[]
for i in range(4): 
 c=float(input("quiz:" ))
 l1.append(c)
l1.sort()
l1=l1[1:4]
for j in l1:
  sum+=j

f=result(a,b,sum,l,att,fin)
if f>=90:
  print(f)
  print("CGPA 4.00")
elif 85<=f<90:
  print(f)
  print("CGPA 3.7")
elif 85<=f<90:
  print(f)
  print("CGPA 3.7")
elif 80<=f<85:
  print(f)
  print("CGPA 3.3")
elif 75<=f<80:
  print(f)
  print("CGPA 3.0")
elif 70<=f<85:
  print(f)
  print("CGPA 2.7")
elif 65<=f<70:
  print(f)
  print("CGPA 2.3")
elif 60<=f<65:
  print(f)
  print("CGPA 2.0")
elif 57<=f<60:
  print(f)
  print("CGPA 1.7")
elif 55<=f<57:
  print(f)
  print("CGPA 1.3")
elif 52<=f<55:
  print(f)
  print("CGPA 1.0")  
elif 50<=f<52:
  print(f)
  print("CGPA 0.7")
elif 0<=f<50:
  print(f)
  print("CGPA 0.0 Or Failure")
